<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.treinador"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.treinador.activity.MainIntroduction"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.treinador.activity.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.treinador.activity.AthleteList"
            android:label="@string/athletes" >
        </activity>
        <activity
            android:name="com.treinador.activity.RegisterAthlete"
            android:label="@string/register_athlete" >
        </activity>
        <activity
            android:name="com.treinador.activity.RegisterExercise"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.treinador.activity.RegisterMark"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.treinador.activity.RegisterExerciseType"
            android:label="@string/title_activity_tipo_exercicio" >
        </activity>
        <activity
            android:name="com.treinador.activity.CalendarActivities"
            android:label="@string/calendar_activities" >
        </activity>
        <activity
            android:name="com.treinador.activity.RegisterMuscle"
            android:label="@string/register_muscle" >
        </activity>
        <activity
            android:name="com.treinador.activity.RegisterSize"
            android:label="@string/register_size" >
        </activity>
        <activity
            android:name="com.treinador.MenuScreen"
            android:label="@string/menu" >
        </activity>
        <activity
            android:name="com.treinador.activity.MuscleList"
            android:label="@string/muscles" >
        </activity>
        <activity
            android:name="com.treinador.activity.ExerciseTypeList"
            android:label="@string/exercise_type" >
        </activity>
        <activity
            android:name="com.treinador.activity.AgendaList"
            android:label="@string/agenda_list" >
        </activity>
        <activity
            android:name="com.treinador.activity.ExerciseDetail"
            android:label="@string/exercise_detail" >
        </activity>
    </application>

</manifest>
